<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="unchihugo.FluentFlyout"
    Publisher="CN=49793F74-1457-4B66-A672-4ED3A640FC76"
    Version="2.13.1.0" />

  <Properties>
    <DisplayName>FluentFlyout</DisplayName>
    <PublisherDisplayName>unchihugo</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
      <Resource Language="en-US"/>
	  <Resource Language="ar"/>
	  <Resource Language="ca"/>
	  <Resource Language="zh-CN"/>
	  <Resource Language="zh-TW"/>
	  <Resource Language="hr"/>
	  <Resource Language="cs"/>
	  <Resource Language="nl"/>
	  <Resource Language="fi"/>
	  <Resource Language="fr"/>
	  <Resource Language="de"/>
	  <Resource Language="he"/>
	  <Resource Language="hi"/>
	  <Resource Language="id"/>
	  <Resource Language="it"/>
	  <Resource Language="ja"/>
	  <Resource Language="ko"/>
	  <Resource Language="pl"/>
	  <Resource Language="pt-BR"/>
	  <Resource Language="ru"/>
	  <Resource Language="sk"/>
	  <Resource Language="es"/>
	  <Resource Language="tr"/>
	  <Resource Language="uk"/>
	  <Resource Language="vi"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="FluentFlyout"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png" Square44x44Logo="Images\FluentFlyout.png" Description="FluentFlyout is a simple and modern audio flyout for Windows, built with Fluent 2 Design principles. The UI seemingly blends in with Windows 10/11, providing you an uninterrupted, clean, and native-like experience when controlling your media.">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  ShortName="FluentFlyout" Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square150x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
		<Extensions>
			<desktop:Extension Category="windows.startupTask">
				<desktop:StartupTask
				  TaskId="FluentFlyoutStartup"
				  Enabled="true"
				  DisplayName="FluentFlyout"/>
			</desktop:Extension>

			<desktop:Extension Category="windows.toastNotificationActivation">
				<desktop:ToastNotificationActivation
				  ToastActivatorCLSID="79086E7F-0D65-4507-82B6-85F2288930D5"/>
			</desktop:Extension>
			
			<com:Extension Category="windows.comServer">
				<com:ComServer>
					<com:ExeServer Executable="FluentFlyout\FluentFlyout.exe" Arguments="-ToastActivated" DisplayName="View Changes">
						<com:Class Id="79086E7F-0D65-4507-82B6-85F2288930D5" DisplayName="View Changes"/>
					</com:ExeServer>
				</com:ComServer>
			</com:Extension>
		</Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
